body {
	margin: auto;
	box-sizing: border-box;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	background-image: linear-gradient( to right, rgb(199,25,6), rgb(244,102,126));
}

header {
	background-color: rgb(232,193,41);
	padding: 10px;
}

h1, h2 {
	font-weight: 900;
	text-align: center;
	color: #D31112;
	font-family: "Dancing Script";
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}
#main p {
	line-height: 1;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 1.2em;
	text-align: left;
	color: #101814;
	font-weight: lighter;
}


figcaption {
	font-style: italic;
	color: white;
	text-align: center;
	margin: 0 auto;
	display: inline;
	padding:  0 25%;
}
dl {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 0 10%;
	margin-bottom: 20px;
}

dt {
	align-self: center;
	text-transform: uppercase;
	font-weight: 550;
	color: #095F6F;
	font-weight: 550;
	text-align: right;
}

dd {
	padding-top: 1.5em;
	color: #101814;
	line-height: 1.2;
	text-align: justify;
	text-indent: 20px;
}
	
#main {
	line-height: 1;
	display: grid;
	grid-gap: 5px;
}

#img-div {
	background-color: #D31112;
}

#img-div img {
display: block;
max-width: 100%;
height: auto;
margin: 0px auto;
}

#tribute-info {
	background-color: #F4667E;
}


blockquote {
    color: black;
	font-weight: lighter;
	text-align: center;
	display: block;
	padding: 10px 20px;
	margin: 0;
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

span.author {
	font-style: italic;
	text-align: right;
}

footer {
	color: #A7A4B7;
	font-size: 0.8em;
	padding: 10px; 
	justify-self: end;
}

#wiki {
	text-align: right;
}

 a {
	text-decoration: none;
	font-weight: 700;
	color: orchid;
}

a:hover {
	background-color: #EA9AB1;
	color: mediumvioletred;
}
